:root {
  --darkRed: #AA2B51;
  --accent: #d03664;
  --white: #fff;
  --black: #000;
  --secondBlack: #202020;
  --pink: #ffc5d6;
  --lightPurple: #ffeaf1;
  --lightGrey: #e1e1e1;
  --skin: #fff4f8;
  --orange: #f99c11;
  --secondPink: #F3A8BF;
  --grey: #585858;
  --secondLightGrey: #C7C7C7;
}