.nav__list {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
  }
}

.nav__link {
  color: var(--white);
  font-family: 'Comfortaa';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}
